global
    maxconn 50000

defaults
    mode http
    timeout connect 10s
    timeout server 10s
    timeout client 10s

frontend http
    bind *:86
    default_backend apps

backend apps
    server app1 web_app1:3000
    server app2 web_app2:3000
    server app3 web_app3:3000
